/* @import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

*{
    box-sizing: border-box;
}



body{
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: #f6f5f7;
    font-family: 'monserrat', sans-serif;
    min-height: 100%;
    margin: 10%;
}
.container{
    position: relative;
    width: 768px;
    max-width: 100%;
    min-height: 480px;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25),
                0 10px 10px rgba(0,0,0,0.22);
}

.sign-up, .sign-in{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    transition: all 0.6s ease-in-out;
}
.sign-up{
    width: 50%;
    opacity: 0;
    z-index: 1;
}
.sign-in{
    width: 50%;
    z-index: 2;
}
form{
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 50px;
    height: 100%;
    text-align: center;
}
h1{
    font-weight: bold;
    margin: 0;
}
p{
    font-size: 14px;
    font-weight: 100;
    line-height: 20px;
    letter-spacing: 0.5px;
    margin: 15px 0 20px;
}
input{
    background: #eee;
    padding: 12px 15px;
    margin: 8px 15px;
    width: 100%;
    border-radius: 5px;
    border: none;
    outline: none;

}
a{
    color: #333;
    font-size: 14px;
    text-decoration: none;
    margin: 15px 0;
}
button{
    color: #fff;
    background: #1fdfdf;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 55px;
    margin: 20px;
    border-radius: 20px;
    border: 1px solid #1fdfdf;
    outline: none;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
    cursor: pointer;
}

button:active{
    transform: scale(0.90);
}
#signIn, #signUp{
    background-color: transparent;
    border: 2px solid #fff;
}

.container.right-panel-active .sign-in{
    transform: translateX(100%);

}
.container.right-panel-active .sign-up{
    transform: translateX(100%);
    opacity: 1;
    z-index: 5;
}
.overlay-container{
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: transform 0.6s ease-in-out;
    z-index: 100;
}
.container.right-panel-active .overlay-container{
    transform: translateX(-100%);
}
.overlay{
    position: relative;
    color: #fff;
    background: #5a5a5a;
    left: -100%;
    height: 100%;
    width: 200%;
    background: linear-gradient(to right, #5a5a5a, #2c2c2c);
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
}
.container.right-panel-active .overlay{
    transform: translateX(50%);
}
.overlay-left, .overlay-right{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    top: 0;
    height: 100%;
    width: 50%;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
}
.overlay-left{
    transform: translateX(-20%);

}
.overlay-right{
    right: 0;
    transform: translateX(0);
}
.container.right-panel-active .overlay-left{
    transform: translateX(0);
}
.container.right-panel-active .overlay-right{
    transform: translateX(20%);
}
.social-container{
    margin: 20px 0;

}
.social-container a{
    height: 40px;
    width: 40px;
    margin: 0 5px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 50%;
} */

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

.joinus-root * {
  box-sizing: border-box;
}

.joinus-root {
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  /* background: #000000; */
  font-family: 'Montserrat', sans-serif;
  min-height: 100vh;
  padding: 5%;
}

.joinus-root .joinus-container {
  position: relative;
  width: 768px;
  max-width: 100%;
  min-height: 480px;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25),
              0 10px 10px rgba(0,0,0,0.22);
}

.joinus-root .joinus-sign-up,
.joinus-root .joinus-sign-in {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  transition: all 0.6s ease-in-out;
}

.joinus-root .joinus-sign-up {
  width: 50%;
  opacity: 0;
  z-index: 1;
}

.joinus-root .joinus-sign-in {
  width: 50%;
  z-index: 2;
}

.joinus-root .joinus-form {
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 50px;
  height: 100%;
  text-align: center;
}

.joinus-root .joinus-h1 {
  font-weight: bold;
  margin: 0;
}
.joinus-h1-signin {
    color : #696969;
    font-weight: bold;
}

.joinus-root .joinus-p {
  font-size: 14px;
  font-weight: 100;
  line-height: 20px;
  letter-spacing: 0.5px;
  margin: 15px 0 20px;
}

.joinus-root .joinus-input {
  background: #eee;
  padding: 12px 15px;
  margin: 4px 15px;
  width: 100%;
  border-radius: 5px;
  border: none;
  outline: none;
}

.joinus-root .joinus-a {
  color: #333;
  font-size: 14px;
  text-decoration: none;
  margin: 15px 0;
}

.joinus-root .joinus-button {
  color: #fff;
  background: #ff766c;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 55px;
  margin: 20px;
  border-radius: 20px;
  border: 1px solid #ff766c;
  outline: none;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
  cursor: pointer;
}

.joinus-root .joinus-button:active {
  transform: scale(0.90);
}

.joinus-root .joinus-signIn,
.joinus-root .joinus-signUp {
  background-color: transparent;
  border: 2px solid #fff;
}

.joinus-root .joinus-container.right-panel-active .joinus-sign-in {
  transform: translateX(100%);
}

.joinus-root .joinus-container.right-panel-active .joinus-sign-up {
  transform: translateX(100%);
  opacity: 1;
  z-index: 5;
}

.joinus-root .joinus-overlay-container {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  overflow: hidden;
  transition: transform 0.6s ease-in-out;
  z-index: 100;
}

.joinus-root .joinus-container.right-panel-active .joinus-overlay-container {
  transform: translateX(-100%);
}

.joinus-root .joinus-overlay {
  position: relative;
  color: #fff;
  background: #5a5a5a;
  left: -100%;
  height: 100%;
  width: 200%;
  background: linear-gradient(to right, #5a5a5a, #2c2c2c);
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
}

.joinus-root .joinus-container.right-panel-active .joinus-overlay {
  transform: translateX(50%);
}

.joinus-root .joinus-overlay-left,
.joinus-root .joinus-overlay-right {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  text-align: center;
  top: 0;
  height: 100%;
  width: 50%;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
}

.joinus-root .joinus-overlay-left {
  transform: translateX(-20%);
}

.joinus-root .joinus-overlay-right {
  right: 0;
  transform: translateX(0);
}

.joinus-root .joinus-container.right-panel-active .joinus-overlay-left {
  transform: translateX(0);
}

.joinus-root .joinus-container.right-panel-active .joinus-overlay-right {
  transform: translateX(20%);
}

.joinus-root .joinus-social-container {
  margin: 20px 0;
}

.joinus-root .joinus-social-container a {
  height: 40px;
  width: 40px;
  margin: 0 5px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 50%;
}


.joinus-root .joinus-form-signup {
  transform: translateY(-40px);
}


.joinus-root {
    margin: 0;
    padding: 0;
    overflow: hidden; /* 스크롤 제거 */
  
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  
    font-family: 'Montserrat', sans-serif;
    min-height: 100vh;
  }
  
  

  .joinus-banner {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-image: url('../images/banner-bg.jpeg');
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    z-index: 0;
  
  
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  
  .joinus-banner::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(3px); /* 흐림 효과 */
    background-color: rgba(0, 0, 0, 0.3); /* 어두운 효과 */
    z-index: 1;
  }
  
  .joinus-banner > * {
    position: relative;
    z-index: 2;
  }
  
  .joinus-close-button {
    position: absolute;
    top: 20px;
    right: 30px;
    background: none;
    border: none;
    font-size: 2rem;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
    z-index: 1001;
  }
  
  .joinus-close-button:hover {
    color: #ff766c; /* 닫기 버튼 hover 시 색상 변경 */
  }